In [1]:
import pandas as pd

# Series

In [2]:
lista = list(range(6))
lista

[0, 1, 2, 3, 4, 5]

In [4]:
data = pd.Series(lista)
data

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [6]:
index = [f'Linha {i}' for i in range(len(lista))]
index

['Linha 0', 'Linha 1', 'Linha 2', 'Linha 3', 'Linha 4', 'Linha 5']

In [7]:
data = pd.Series(lista, index=index)
data

Linha 0    0
Linha 1    1
Linha 2    2
Linha 3    3
Linha 4    4
Linha 5    5
dtype: int64

In [9]:
s = {f"Linha {i}" : i for i in range(6)}
s

{'Linha 0': 0,
 'Linha 1': 1,
 'Linha 2': 2,
 'Linha 3': 3,
 'Linha 4': 4,
 'Linha 5': 5}

In [11]:
data = pd.Series(s)
data

Linha 0    0
Linha 1    1
Linha 2    2
Linha 3    3
Linha 4    4
Linha 5    5
dtype: int64

In [12]:
data + 3

Linha 0    3
Linha 1    4
Linha 2    5
Linha 3    6
Linha 4    7
Linha 5    8
dtype: int64

# DataFrame

In [13]:
data = [[1,2,3], [4,5,6], [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [15]:
df1 = pd.DataFrame(data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [18]:
index = [f"Linha {i}" for i in range(df1.shape[0])]

In [19]:
df1 = pd.DataFrame(data, index=index)
df1

         0  1  2
Linha 0  1  2  3
Linha 1  4  5  6
Linha 2  7  8  9

In [22]:
columns = [f"Coluna {i}" for i in range(df1.shape[0])]

In [23]:
df1 = pd.DataFrame(data, index=index, columns=columns)
df1

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [39]:
data = {'Coluna 0': {'Linha 0': 1, 'Linha 1': 4, 'Linha 2': 7},
        'Coluna 1': {'Linha 0': 2, 'Linha 1': 5, 'Linha 2': 8},
        'Coluna 2': {'Linha 0': 3, 'Linha 1': 6, 'Linha 2': 9}}

In [40]:
df2 = pd.DataFrame(data)
df2

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [26]:
data = [(1,2,3), (4,5,6), (7,8,9)]
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [28]:
df3 = pd.DataFrame(data, index=index, columns=columns)
df3

         Coluna 0  Coluna 1  Coluna 2
Linha 0         1         2         3
Linha 1         4         5         6
Linha 2         7         8         9

In [31]:
df1[df1 > 0] = "A"
df1

        Coluna 0 Coluna 1 Coluna 2
Linha 0        A        A        A
Linha 1        A        A        A
Linha 2        A        A        A

In [41]:
df2[df2 > 0] = "B"
df2

        Coluna 0 Coluna 1 Coluna 2
Linha 0        B        B        B
Linha 1        B        B        B
Linha 2        B        B        B

In [36]:
df3[df3 > 0] = "C"
df3

        Coluna 0 Coluna 1 Coluna 2
Linha 0        C        C        C
Linha 1        C        C        C
Linha 2        C        C        C

In [42]:
df4 = pd.concat([df1, df2, df3])
df4

        Coluna 0 Coluna 1 Coluna 2
Linha 0        A        A        A
Linha 1        A        A        A
Linha 2        A        A        A
Linha 0        B        B        B
Linha 1        B        B        B
Linha 2        B        B        B
Linha 0        C        C        C
Linha 1        C        C        C
Linha 2        C        C        C

In [43]:
df5 = pd.concat([df1, df2, df3], axis=1)
df5

,Coluna 0,Coluna 1,Coluna 2,Coluna 0,Coluna 1,Coluna 2,Coluna 0,Coluna 1,Coluna 2
Linha 0,A,A,A,B,B,B,C,C,C
Linha 1,A,A,A,B,B,B,C,C,C
Linha 2,A,A,A,B,B,B,C,C,C