In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv("dados/residencias.csv", sep=';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor por m^2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento

In [3]:
# até 2 quartos
# entre 2 e 4
# entre 4 e 6
# maior ou igual a 7
classes = [0, 2, 4, 6, 100]

In [5]:
quartos = pd.cut(dados["Quartos"], classes)
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (0.0, 2.0]
            ...
22298    (0.0, 2.0]
22299           NaN
22300    (2.0, 4.0]
22301    (0.0, 2.0]
22302    (0.0, 2.0]
Name: Quartos, Length: 22303, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [6]:
quartos.value_counts()

(0, 2]      11721
(2, 4]       9686
(4, 6]        686
(6, 100]       50
Name: Quartos, dtype: int64

In [7]:
labels = ["Até 2 quartos", "3 ou 4 quartos", "5 ou 6 quartos", "7 ou mais quartos"]
quartos = pd.cut(dados["Quartos"], classes, labels=labels)

In [8]:
quartos.value_counts()

Até 2 quartos        11721
3 ou 4 quartos        9686
5 ou 6 quartos         686
7 ou mais quartos       50
Name: Quartos, dtype: int64

In [10]:
quartos = pd.cut(dados["Quartos"], classes, labels=labels, include_lowest=True)

In [11]:
quartos.value_counts()

Até 2 quartos        11881
3 ou 4 quartos        9686
5 ou 6 quartos         686
7 ou mais quartos       50
Name: Quartos, dtype: int64