# Relatório de Analíses

## Tratando de dados faltantes

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv("dados/residencias.csv", sep=";")

In [3]:
dados.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False   True
4      False   False    False  False   False  False  False        True   True
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
23052  False   False    False  False   False  False  False       False  False
23053  False   False    False  False   False  False  False       False  False
23054  False   False    False  False   False  False  False       False  False
23055  False   False    False  False   False  False  False       False  False
23056  False   False    False  False   False  False  False       False   True

[23057 rows x 9 columns]

In [4]:
dados.notnull()

       Tipo  Bairro  Quartos  Vagas  Suites  Area  Valor  Condominio   IPTU
0      True    True     True   True    True  True   True        True   True
1      True    True     True   True    True  True   True       False  False
2      True    True     True   True    True  True   True        True   True
3      True    True     True   True    True  True   True        True  False
4      True    True     True   True    True  True   True       False  False
...     ...     ...      ...    ...     ...   ...    ...         ...    ...
23052  True    True     True   True    True  True   True        True   True
23053  True    True     True   True    True  True   True        True   True
23054  True    True     True   True    True  True   True        True   True
23055  True    True     True   True    True  True   True        True   True
23056  True    True     True   True    True  True   True        True  False

[23057 rows x 9 columns]

In [5]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23057 entries, 0 to 23056
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        23057 non-null  object
 1   Bairro      23057 non-null  object
 2   Quartos     23057 non-null  int64
 3   Vagas       23057 non-null  int64
 4   Suites      23057 non-null  int64
 5   Area        23057 non-null  int64
 6   Valor       23048 non-null  float64
 7   Condominio  21198 non-null  float64
 8   IPTU        16191 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [6]:
dados[dados["Valor"].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
60,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
1522,Apartamento,Leme,2,0,0,75,NaN,878.0,NaN
1716,Casa,Campo Grande,3,4,3,363,NaN,NaN,NaN
2053,Apartamento,Botafogo,2,0,0,95,NaN,1010.0,170.0
2075,Apartamento,Copacabana,2,0,0,72,NaN,850.0,NaN
5048,Casa,Campo Grande,3,2,1,100,NaN,NaN,NaN
8754,Apartamento,Leme,2,0,1,75,NaN,878.0,NaN
9142,Apartamento,Glória,3,0,1,135,NaN,910.0,228.0
9347,Apartamento,Gávea,3,1,1,105,NaN,880.0,221.0

In [7]:
A = dados.shape[0]
dados.dropna(subset = ["Valor"], inplace=True)
B = dados.shape[0]
A - B

9

In [8]:
dados[dados["Valor"].isnull()]

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

In [9]:
dados[dados["Condominio"].isnull()].shape[0]

1857

In [10]:
selecao = (dados["Tipo"] == "Apartamento") & (
    dados["Condominio"].isnull())

In [11]:
selecao

0        False
1        False
2        False
3        False
4         True
         ...
23052    False
23053    False
23054    False
23055    False
23056    False
Length: 23048, dtype: bool

In [12]:
~selecao

0         True
1         True
2         True
3         True
4        False
         ...
23052     True
23053     True
23054     True
23055     True
23056     True
Length: 23048, dtype: bool

In [13]:
A = dados.shape[0]
dados = dados[~selecao]
B = dados.shape[0]
A - B

745

In [14]:
dados[dados["Condominio"].isnull()].shape[0]

1112

In [15]:
dados["Condominio"].fillna(0)

0        500.0
1          0.0
2        390.0
3        230.0
5        301.0
         ...
23052    490.0
23053    350.0
23054    800.0
23055    509.0
23056    760.0
Name: Condominio, Length: 22303, dtype: float64

In [19]:
dados = dados.fillna({"Condominio": 0, "IPTU": 0})

In [20]:
dados[dados["Condominio"].isnull()].shape[0]

0

In [21]:
dados[dados["IPTU"].isnull()].shape[0]

0

In [22]:
dados.to_csv("dados/residencias.csv", sep=';', index=False)